/**
 * Built by Andrew James M. Gan of BSCS 1D on Dec. 22, 2024
 * Colors are based on: https://github.com/morhetz/gruvbox
 */

:root {
    --bg: #282828;
    --bgh: #1d2021;
    --bgs: #32302f;

    --fg: #ebdbb2;
}
