/**
 * Built by Andrew James M. Gan of BSCS 1D on Jan. 09, 2025
 * Colors are based on:
 * https://designshack.net/articles/trends/best-website-color-schemes/
 * Number 15
 */

:root {
    --bg: #A0AECD;
    --bgh: #A0AECD;
    --bgs: #FFFFFF;

    --fg: #000000;
}
